<!-- ALBUM STARTS -->
<div th:if="${profileUserId}" class="album">
  <h3>Album</h3>
  <div class="picture-container">
      <div th:each="picture: ${pictures}" class="picture">
        <img th:src="'/img?id='+${picture.id}" th:attr="onclick=|openFullScreenImage(this.src, '${picture.description}');|">
        <div class="like-picture" th:attr="onclick=|likePictureButtonClick(${currentUserId}, ${picture.id});|">
          <i th:id="'icon'+${picture.id}" class="bi bi-suit-heart-fill" th:attr="onload=|redLikeButton(${currentUserId}, ${picture.id}, this);|"></i>
          <span th:text="${#lists.size(picture.likes)}" class="picture-likes">0</span>
        </div>
        <div th:if="${currentUserId}==${profileUserId}" class="set-profile-picture" onclick="setAsProfilePicture(this);">Set as profile picture</div>
      </div>
  </div>

  <!-- UPLOAD FORM STARTS -->
  <div th:if="${currentUserId}==${profileUserId}" class="add-picture">
    <form class="upload-form" enctype="multipart/form-data" action="/upload" method="post" id="upload-form">
      <input type="file" name="picture" class="picture-input" id="picture-input" accept="image/*">
      <div class="description">
        <label>Description: </label><input name="description" id="picture-description-input" type="text" placeholder="Description" maxlength="100">
      </div>
      <input type="hidden" name="currentUserId" id="upload-user-id">
      <button class="upload-picture-button" th:attr="onclick=|uploadPicture(${currentUserId});|">Add new picture</button>
    </form>
  </div>
  <!-- UPLOAD FORM ENDS -->

</div>

<!-- OVERLAY STARTS -->
<div id="overlay-screen" class="overlay">
  <a href="javascript:void(0)" class="close-button" onclick="closeFullScreenImage()">&times;</a>
  <div class="overlay-content">
    <img src="" id="overlay-image">
    <p id="overlay-description">This is a description of the above image.</p>
  </div>
</div>
<!-- OVERLAY ENDS -->

<!-- ALBUM ENDS -->