<!-- SIDEBAR STARTS -->

<div class="sidebar">
    <div class="logo-item">
        <i class="bi bi-twitter logo"></i>
    </div>
    <div class="sidebar-item" onclick="window.location.href = '/frontpage';">
        <i class="bi-house icon"></i>
        <h2>Front Page</h2>
    </div>
    <div class="sidebar-item" onclick="window.location.href = '/profile';">
        <i class="bi-person-circle icon"></i>
        <h2>My Profile</h2>
    </div>
    <div class="sidebar-item" onclick="alert('Work in progress');">
        <i class="bi-gear-wide icon"></i>
        <h2>Settings</h2>
    </div>
    <div class="sidebar-item" onclick="window.location.href = '/logout';">
        <i class="bi bi-box-arrow-right icon"></i>
        <h2>Log Out</h2>
    </div>
</div>

<!-- SIDEBAR ENDS -->