* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-blue: #50b7f5;
    --twitter-blue-hover: #4399cc;
    --twitter-light-blue: #c2e9ff;
    --background-white: #e6ecf0;
    font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display:flex;
}

.left {
  width: 50vw;
  background: var(--twitter-blue);
}

.logo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 25vh;
}

.logo i {
  color: var(--twitter-light-blue);
  font-size: 50vh;
}

/* LOGIN BOX */

.right {
  width: 50vw;
}

.action-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 40vh;
  height: 20vh;
}

.block {
    width: 80%;
}

.block h2 {
    text-align: center;
}

.sign-up {
  padding: 10px;
  width: 40%;
}

.sign-in {
  padding: 10px;
  width: 40%;
}

.sign-up-button {
    background-color: var(--twitter-blue);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    /*width: 80px;*/
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.sign-up-button:hover {
    background-color: var(--twitter-blue-hover);
}

.sign-in-button {
    background-color: white;
    border: 2px solid var(--twitter-blue);
    color: var(--twitter-blue);
    font-weight: 900;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.sign-in-button:hover {
    background-color: var(--twitter-blue-hover);
    color: white;
    border: none;
}


