* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    --twitter-blue: #50b7f5;
    --twitter-blue-hover: #4399cc;
    --twitter-light-blue: #c2e9ff;
    --background-white: #e6ecf0;
    background-color: var(--twitter-light-blue);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    left: 20vw;
    top: 20vh;
    height: 60vh;
    border-style: solid;
    border-radius: 30px;
    border-color: transparent;
    text-align: center;
    color: black;
    background-color: white;
}

.container form {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container label {
    display: inline-block;
    width: 7em;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0;
    margin-right: 10px;
    white-space: nowrap;
}

ul {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

input {
    background-color: var(--background-white);
    border: solid;
    border-color: transparent;
    border-radius: 30px;
    color: black;
}

input:focus {

}

#register {
    color: white;
    font-weight: 600;
    background-color: var(--twitter-blue);
    padding: 10px 30px;
    margin-bottom: 20px;
}

#register:hover {
    background-color: var(--twitter-blue-hover);
}

a {
    color: black;
}

/*
form li {
    list-style: none;
    margin: 5px;
}


ul {
    padding: 0;
    margin: 0;
}
*/
/*
label {
    display: inline-block;
    width: 7em;
}
*/