* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-blue: #50b7f5;
    --twitter-blue-hover: #4399cc;
    --twitter-light-blue: #c2e9ff;
    --background-white: #e6ecf0;
    font-family: sans-serif;
}

.sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-item {
    display: flex;
    align-items: center;
}

.sidebar-item .icon {
    padding: 20px;
}

.sidebar-item h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebar-item:hover {
    background-color: var(--twitter-light-blue);
    border-radius: 30px;
    color: var(--twitter-blue);
    transition: color 50ms ease-out;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid #e6ecf0;
    flex: 0.2;
    min-width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    color: #50b7f5;
    font-size: 30px;
    padding: 20px;
    margin-right: 20px;
}

/* FEED */

.feed {
    flex: 0.5;
    border-right: 1px solid #e6ecf0;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed-header {
    position: sticky;
    top: 0;
    background-color: white;
    /*z-index: 100;*/
    border-bottom: 1px solid #e6ecf0;
    padding: 15px 20px;
}

.feed-header {
    font-size: 20px;
    font-weight: 800;
}

 /*

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*/

/* TWEETBOX */

.tweetbox-input img {
    border-radius: 50%;
    height: 40px;
}

.tweetbox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--background-white);
    padding-right: 10px;
}

.tweetbox form {
    display: flex;
    flex-direction: column;
}

.tweetbox-input {
    display: flex;
    padding: 20px;
}

.tweetbox-input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.send-tweet-button {
    background-color: var(--twitter-blue);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.send-tweet-button:hover {
    background-color: var(--twitter-blue-hover);
}

/* POST */

.post-avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    align-items: flex-start;
}

.post-body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 450px;
}

.post-footer i {
    font-weight: 600;
    font-size: 26px;
}

.post-footer i:hover {
    color: var(--twitter-blue);
    cursor: pointer;
}

.post-header-special {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post-header-text h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post-header-description {
    margin-bottom: 20px;
    font-size: 15px;
}

.post-body {
    flex: 1;
    padding: 20px;
}

.post-avatar {
    padding: 20px;
}

.post-header-username:hover {
    cursor: pointer;
    color: var(--twitter-blue-hover);
}

/* COMMENTS */

.comments {
    display: flex;
    align-items: flex;
    flex-direction: column;
    visibility: visible;
    height: auto;
    /*
    visibility: collapse;
    height: 0;
    */
    border-top: 4px solid var(--background-white);
}

.comment {
    padding: 10px 0px 10px 80px;
    border-bottom: 1px solid var(--background-white);
    display: flex;
    align-items: flex-start;
}

.post-comment-container {
    border-bottom: 8px solid var(--background-white);
}

.send-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--twitter-blue);
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 550;
    border-radius: 30px;
    width: 120px;
    height: 40px;
}

.send-comment:hover {
    background-color: var(--twitter-blue-hover);
    cursor: pointer;
}

.comment-author {
    font-weight: 600 !important;
}

.comment-author:hover {
    cursor: pointer;
    color: var(--twitter-blue-hover);
}

.comment-avatar img {
    height: 30px;
    border-radius: 50%;
}

.comment-avatar {
    padding: 20px;
}

.comment-header {
    font-weight: 500;
    font-size: 12px;
    color: gray;
    padding-bottom: 5px;
}

.comment-body {
    flex: 1;
    padding: 20px;
}

.commentbox-body {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-bottom: 1px solid var(--background-white);
}

.commentbox-body textarea {
    flex: 1;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 11px;
    border: none;
    border-radius: 20px;
    height: 80px;
    outline: none;
    background-color: var(--background-white);
    text-align: start;
    padding: 15px;
    resize: none;
}

.send-comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

/* SEARCH */

.searchbar {
    flex: 0.3;
}

.search-input {
    display: flex;
    align-items: center;
    background-color: var(--background-white);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.search-input input {
    border: none;
    background-color: var(--background-white);
    outline: none;
}

.search-icon {
    color: gray;
    margin-right: 10px;
}

.search-icon:hover {
    cursor: pointer;
    weight: 600;
    color: var(--twitter-blue-hover);
}

/* ALBUM */

.album {
    text-align: center;
    padding: 20px;
}

.album h3 {
    padding: 20px;
}

.picture-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 5px;
}

.picture-container img {
    border-radius: 15px;
    cursor: pointer;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
}

.picture div {
    margin-top: 8px;
}

.set-profile-picture {
    font-size: 9px;
    font-weight: 300;
}

.set-profile-picture:hover {
    color: var(--twitter-blue-hover);
    cursor: pointer;
}

.like-picture {
    font-size: 11px;
    font-weight: 400;
}

.like-picture i {
    color: var(--twitter-blue)
}

.like-picture:hover {
    color: var(--twitter-blue-hover);
    cursor: pointer;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0,5s;
}

.overlay-content {
    position: relative;
    top: 5vh;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content p {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.close-button {
    position: relative;
    top: 5 vh;
    left: 5vw;
    z-index: 2;
    color: white;
    font-size: 60px;
    padding: 20px;
    margin: 30px;
}

.upload-picture-button {
    background-color: var(--twitter-blue);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    margin-top: 20px;
}

.upload-picture-button:hover {
    background-color: var(--twitter-blue-hover);
    cursor: pointer;
}

.add-picture form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.add-picture {
    display: flex;
    border-top: 1px solid var(--background-white);
}

.add-picture label {
    margin-right: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;

}

/* PROFILE HEADER */

.profile-header-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 40px 20px 10px 20px;
    border-bottom: 8px solid var(--background-white);
}

.big-profile-picture img {
    height: 200px;
    padding-bottom: 15px;
}

.userDetails {
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    */
}

.userDetails-fullName {
    font-size: 30px;
    font-weight: 750;
    padding-bottom: 5px;
}

.userDetails-username {
    font-size: 26px;
    font-weight: 550;
    color: gray;
    padding-bottom: 10px;
}

.userDetails-joinedAt {
    color: gray;
    padding-bottom: 5px;
}

.follow-user {
    background-color: white;
    border: 2px solid var(--twitter-blue);
    color: var(--twitter-blue);
    font-weight: 900;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-user:hover {
    background-color: var(--twitter-blue-hover);
    color: white;
    border: none;
}
